@import "./globalColor";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}

.dark-mode {
  background-color: #0b0c10;
  color: #ffffff;
}

.dark-mode a {
  color: #ffffff;
}
.app-container {
  min-height: 100vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .app-container {
  background-color: #0b0c10;
  color: #ffffff;
}

